* {
    margin: 0px; 
    padding: 0px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    margin-bottom: 4rem;
}

.toolbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border: 1px solid black;
    border-top: none;
}

.toolbar-alter {
    display: flex;
    justify-content: end;
    align-items: center;
}

.toolbar button {
    background: none;
    border: none;
    padding: 1.2rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.header {
    padding: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.header__logo {
    width: 20%;
    display: flex;
    align-items: center;
}

.header__logo h1 {
    margin-left: 2rem;
    font-size: 2.4rem;
}

.header__search {
    width: 40%;   
}

.header__search input {
    border-radius: none;
    padding: 1rem .5rem;
    width: 100%;
    font-size: 1.2rem;
    border: 2px solid black;
}

.header__socialnetwork {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__socialnetwork img {
    width: 4rem;
}

.banner {
    width: 100%;
    height: 28rem;
}

.banner img {
    object-fit: cover;
    object-position: 0 -300px;
    width: 100%;
    height: 100%;
}

.courses {
    display: 100%;
}

.courses__header {
    display: flex;
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.courses__header h3 {
    font-size: 3rem;
    margin-left: 2rem;
}

.courses__list {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}

.courses__list a {
    text-decoration: none;
    color: black;
}

.courses__list a:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-out;
}

.course__card {
    text-align: center;
}

.course__card h4 {
    font-size: 1.4rem;
}

.course__card p {
    font-size: 1.1rem;
}

footer {
    margin: 4rem 8rem 0 8rem;
    padding: 2rem;
    text-align: center;
    border-top: 1px solid black;
    font-size: 1.2rem;
    font-weight: bold;
}

.course__page {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* margin: 4rem 8rem 0 8rem; */
}

.course__page-desc {
    width: 40%;
}

.course__page-desc h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.course__page-desc p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.course__page-form {
    display: flex;
    width: 100%;
}

.course__page-form input {
    border-radius: none;
    padding: 1rem .5rem;
    width: 100%;
    font-size: 1.2rem;
    border: 2px solid black;
}

.course__page-form button {
    margin-left: 1rem;
}

.btn {
    background: none;
    padding: 1rem 2rem 1rem 2rem;
    border: 2px solid black;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn-variant {
    margin-top: 1rem;
    background: none;
    padding: 1rem 2rem 1rem 2rem;
    border: 2px solid black;
    font-size: 1.3rem;
    cursor: pointer;
}

.course__page-img {
    width: 60%;
    text-align: right;
}

.course__desc {
    display: flex;
    width: 100%;
    margin-top: 4rem;
    gap: 2rem;
}

.course__desc-1 {
    width: 70%;
}

.course__desc-1-1 {
    border: 2px solid black;
    padding: 2rem;
    margin-bottom: 2rem;
}

.course__desc-1-2 {
    border: 2px solid black;
    padding: 2rem;
}

.course__desc-1 h4 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.course__desc-1 p {
    font-size: 1.2rem;
}

.course__desc-2 {
    border: 2px solid black;
    padding: 2rem;
    width: 30%;
}

.course__desc-2 div {
    display: flex;
    flex-direction: column;
}

.course__desc-2 h4 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.course__desc-2 h5 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.course__desc-2 p {
    font-size: 1.3rem;
}

.course {
    margin: 4rem 8rem 0 8rem;   
}

.course__desc-course-list {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.course__desc-course {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.course__desc-course-title h3 {
    font-size: 2.2rem;
}

.course__desc-course-title {
    margin-left: 2rem;
    width: 60%;
}

.course__desc-course-price {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}

.course__desc-course-price h3 {
    font-size: 1.8rem;
}